In [39]:
import numpy as np
import pandas as pd

In [40]:
data = pd.read_excel('/content/(첨부2)내포순환버스 승하차이용현황_230225~230604_호서대.xlsx')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7828 entries, 0 to 7827
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   승차이용일시   7828 non-null   int64
 1   일시       7828 non-null   int64
 2   요일       0 non-null      float64
 3   시간       7828 non-null   int64
 4   시간대      7828 non-null   int64
 5   운수사      7828 non-null   object
 6   노선번호     7828 non-null   int64
 7   NO       7828 non-null   int64
 8   승차정류장ID  4225 non-null   float64
 9   승차정류장명   4225 non-null   object
 10  승차거래금액   7828 non-null   int64
 11  하차이용일시   4539 non-null   float64
 12  하차정류장ID  2401 non-null   float64
 13  하차정류장명   2401 non-null   object
 14  하차거래금액   7371 non-null   float64
dtypes: float64(5), int64(7), object(3)
memory usage: 917.5+ KB

In [41]:
data.head()

,승차이용일시,일시,요일,시간,시간대,운수사,노선번호,NO,승차정류장ID,승차정류장명,승차거래금액,하차이용일시,하차정류장ID,하차정류장명,하차거래금액
0,20230225171543,20230225,NaN,17,1715,홍주여객,1000,17,2931215.0,이지더원아파트,1100,NaN,NaN,NaN,0.0
1,20230225182621,20230225,NaN,18,1826,홍주여객,1000,17,9135049.0,용봉산주차장,1400,NaN,NaN,NaN,0.0
2,20230225182630,20230225,NaN,18,1826,홍주여객,1000,19,9135049.0,용봉산주차장,1400,NaN,NaN,NaN,0.0
3,20230225184009,20230225,NaN,18,1840,홍주여객,1000,19,2930316.0,극동스타클레스센트럴,1400,NaN,NaN,NaN,0.0
4,20230225184020,20230225,NaN,18,1840,홍주여객,1000,19,2930316.0,극동스타클레스센트럴,650,NaN,NaN,NaN,0.0

In [42]:
columns = ['승차이용일시', '승차정류장명', '하차정류장명', '하차이용일시']
bus_data = data[columns]
bus_data.head()

           승차이용일시      승차정류장명 하차정류장명  하차이용일시
0  20230225171543     이지더원아파트    NaN     NaN
1  20230225182621      용봉산주차장    NaN     NaN
2  20230225182630      용봉산주차장    NaN     NaN
3  20230225184009  극동스타클레스센트럴    NaN     NaN
4  20230225184020  극동스타클레스센트럴    NaN     NaN

In [43]:
in_bus = bus_data['승차정류장명']
in_bus.unique()

array(['이지더원아파트', '용봉산주차장', '극동스타클레스센트럴', '모아엘가정문', '덕산중,고등학교',
       '덕산중고등학교옆', '효성해링턴정문', '내포신도시환승센터도청앞', '내포신도시남광장', '지형놀이공원',
       '내포신도시북광장', '중흥아파트옆', '하나로마트', '대학삼거리', '대방엘리움더피스티지아파트',
       '삽교읍주민복합지원센터', '도나우애듀파크2차아파트', '119안전센터', nan, '모아엘가옆'],
      dtype=object)

In [44]:
in_counts = bus_data['승차정류장명'].value_counts()
in_counts

모아엘가정문           933
극동스타클레스센트럴       790
이지더원아파트          713
효성해링턴정문          390
덕산중,고등학교         329
내포신도시환승센터도청앞     177
하나로마트            152
내포신도시북광장         144
대방엘리움더피스티지아파트    130
덕산중고등학교옆         109
용봉산주차장           105
내포신도시남광장          81
지형놀이공원            75
도나우애듀파크2차아파트      43
중흥아파트옆            30
대학삼거리              9
119안전센터            9
삽교읍주민복합지원센터        5
모아엘가옆              1
Name: 승차정류장명, dtype: int64

In [45]:
in_columns = ['승차이용일시']
in_data = bus_data[in_columns]
in_data.head()

           승차이용일시
0  20230225171543
1  20230225182621
2  20230225182630
3  20230225184009
4  20230225184020

In [46]:
in_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7828 entries, 0 to 7827
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   승차이용일시  7828 non-null   int64
dtypes: int64(1)
memory usage: 61.3 KB

In [47]:
in_data['승차이용일시'] = in_data['승차이용일시'].astype('str')

<ipython-input-47-3a149124dd6f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  in_data['승차이용일시'] = in_data['승차이용일시'].astype('str')

In [69]:
in_time = pd.to_datetime(in_data['승차이용일시'])
in_time

0      2023-02-25 17:15:43
1      2023-02-25 18:26:21
2      2023-02-25 18:26:30
3      2023-02-25 18:40:09
4      2023-02-25 18:40:20
               ...
7823   2023-05-30 16:54:34
7824   2023-05-30 16:53:32
7825   2023-05-30 16:53:46
7826   2023-05-30 17:35:55
7827   2023-05-30 12:29:21
Name: 승차이용일시, Length: 7828, dtype: datetime64[ns]

In [70]:
in_time_df = pd.DataFrame(in_time)
in_time_df

                  승차이용일시
0    2023-02-25 17:15:43
1    2023-02-25 18:26:21
2    2023-02-25 18:26:30
3    2023-02-25 18:40:09
4    2023-02-25 18:40:20
...                  ...
7823 2023-05-30 16:54:34
7824 2023-05-30 16:53:32
7825 2023-05-30 16:53:46
7826 2023-05-30 17:35:55
7827 2023-05-30 12:29:21

[7828 rows x 1 columns]

In [90]:
in_time_df['승차이용일시'] = in_time_df['승차이용일시'].astype('str')

In [98]:
morning_data = in_time_df[pd.to_datetime(in_time_df.timestamp).dt.hour< 9]
morning_data

AttributeError: ignored

In [97]:
evening_data = in_time_df[pd.to_datetime(in_time_df.timestamp).dt.hour > 17]
evening_data

AttributeError: ignored

In [63]:
in_time_df['year'] = in_time_df['승차이용일시'].dt.year
in_time_df['month'] = in_time_df['승차이용일시'].dt.month
in_time_df['day'] = in_time_df['승차이용일시'].dt.day
in_time_df['hour'] = in_time_df['승차이용일시'].dt.hour
in_time_df['minute'] = in_time_df['승차이용일시'].dt.minute

in_time_df

                  승차이용일시  year  month  day  hour  minute
0    2023-02-25 17:15:43  2023      2   25    17      15
1    2023-02-25 18:26:21  2023      2   25    18      26
2    2023-02-25 18:26:30  2023      2   25    18      26
3    2023-02-25 18:40:09  2023      2   25    18      40
4    2023-02-25 18:40:20  2023      2   25    18      40
...                  ...   ...    ...  ...   ...     ...
7823 2023-05-30 16:54:34  2023      5   30    16      54
7824 2023-05-30 16:53:32  2023      5   30    16      53
7825 2023-05-30 16:53:46  2023      5   30    16      53
7826 2023-05-30 17:35:55  2023      5   30    17      35
7827 2023-05-30 12:29:21  2023      5   30    12      29

[7828 rows x 6 columns]

In [49]:
out_bus = bus_data['하차정류장명']
out_bus.unique()

array([nan, '덕산중고등학교옆', '119안전센터', '덕산중,고등학교', '내포신도시환승센터도청앞', '이지더원아파트',
       '극동스타클레스센트럴', '내포신도시남광장', '모아엘가정문', '삽교읍주민복합지원센터', '모아엘가옆',
       '지형놀이공원', '중흥아파트옆', '대학삼거리', '한울공원사거리', '효성해링턴정문', '내포신도시북광장',
       '용봉산주차장', '하나로마트', '대방엘리움더피스티지아파트', '도나우애듀파크2차아파트'], dtype=object)

In [50]:
out_counts = bus_data['하차정류장명'].value_counts()
out_counts

덕산중,고등학교         832
119안전센터          316
극동스타클레스센트럴       190
모아엘가정문           180
내포신도시환승센터도청앞     121
이지더원아파트          111
내포신도시남광장          85
모아엘가옆             83
하나로마트             82
대방엘리움더피스티지아파트     64
한울공원사거리           60
덕산중고등학교옆          56
내포신도시북광장          48
삽교읍주민복합지원센터       47
용봉산주차장            45
효성해링턴정문           35
중흥아파트옆            33
도나우애듀파크2차아파트       8
지형놀이공원             3
대학삼거리              2
Name: 하차정류장명, dtype: int64

In [79]:
out_columns = ['하차이용일시']
out_data = bus_data[out_columns]
out_data.head()

   하차이용일시
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [84]:
out_data.dropna(inplace=True)
out_data

<ipython-input-84-cba073ed1ea2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_data.dropna(inplace=True)

                하차이용일시
0                  nan
1                  nan
2                  nan
3                  nan
4                  nan
...                ...
7823  20230530165439.0
7824  20230530165338.0
7825  20230530165352.0
7826  20230530174258.0
7827               nan

[7828 rows x 1 columns]

In [87]:
out_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7828 entries, 0 to 7827
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   하차이용일시  7828 non-null   object
dtypes: object(1)
memory usage: 61.3+ KB

In [88]:
out_data['하차이용일시'] = out_data['하차이용일시'].astype('str')

<ipython-input-88-8a3dee84e599>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_data['하차이용일시'] = out_data['하차이용일시'].astype('str')

In [89]:
out_time = pd.to_datetime(out_data['하차이용일시'])
out_time

OutOfBoundsDatetime: ignored